<div class="box-model design" style="width:720px;">
  <div class="balanced white main cf">
    <div class="left" style="width: 400px;">
      <section class="title-pane cf"></section>
      <section class="price-pane cf"></section>
      <section class="description-pane cf"></section>
    </div>
    <div class="right" style="width: 320px;">
      <div class="picture-frame">
        <section class="full-width gallery-pane cf"></section>
      </div>
      <section class="stories-pane cf"></section>
    </div>
  </div>
</div>
