<div class="box-model design" style="width:990px;">
  <section class="header-pane full-width cf"></section>
  <section class="quickfacts-pane full-width cf"></section>
  <div class="cf balanced crosshatched">
    <div class="left white main" style="width: 720px;">
      <section class="gifts-pane cf"></section>
      <section class="stories-pane main cf"></section>
      <section class="comments-pane cf"></section>
    </div>
    <div class="right sidebar" style="width: 270px;">
      <section class="certifiedorg-pane cf"></section>
      <section class="activity-pane cf"></section>
    </div>
  </div>
</div>
