RewriteEngine on
RewriteBase /wp-content/charity-images

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} .*wp-content/charity-images/.*\.(gif|jpg|jpeg|png)$ [NC]
RewriteRule .* default.jpg [L]

