/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(images/overlay.png) 0 0 repeat;}
#colorbox, #cboxOverlay, #cboxWrapper{overflow: visible !important;}
#colorbox{margin-top:  25px;}
#cboxMiddleLeft, #cboxBottomLeft{display: none;}

#cboxContent{background: #F4F5E7; border: 1px solid #666;
  -moz-box-shadow: 0 0 40px black;
  box-shadow: 0 0 10px black;
}
        #cboxLoadedContent{overflow: visible !important;}
        #cboxTitle{position:absolute; top:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; top:7px; left:61px; color:#949494;}
        #cboxSlideshow{display: none !important; position:absolute; top:7px; right:33px; color:#0092ef;}
        #cboxPrevious{position:absolute; top:3px; left:3px; background:url(images/controls.png) -75px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; top:3px; left:30px; background:url(images/controls.png) -50px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) center center no-repeat;}
        #cboxLoadingGraphic{background:url(images/loading-spinner.gif) center center no-repeat;}
        #cboxClose{position:absolute; top:4px; right:3px; background:url(images/controls.png) -25px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}

#cboxContent {
  background: #FEFFFA;
  background: -webkit-gradient(linear, left top, right bottom, from(#ffffff), to(#f4f5e7));
  background: -moz-linear-gradient(center top , #FFFFFF, #F4F5E7) no-repeat scroll 0 100px #FFFFFF;
}
#cboxContent article {
  background: transparent;
  border: 0px none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
}


