.fan_box .connections {
  font-weight: bold;
}
.fan_box .connections {
  border: 0px none;
  margin-bottom: 5px;
}
.fan_box .full_widget {
  border: 0px none;
  background: transparent;
}
.fan_box .full_widget .connect_top {
  background: transparent;
}
.fan_box .profileimage {
  width: 60px;
  height: 60px;
}
.fan_box .connect_action .name {
  display: block;
}

.fan_box .connections_grid .grid_item .img { opacity: 0.7; }
.fan_box .connections_grid .grid_item .name { color: black; }
