x .campaign-page .give-gifts {
  margin: 0 -30px;
}

.give-gift {
  margin-bottom: 30px;
  clear: both;
  x-font-family: freight-sans-pro-1, freight-sans-pro-2, 'Gill Sans / Gill Sans MT', 'Trebuchet MS', Helvetica, sans-serif;
  position: relative;
}
.give-gift p {
  margin: 0 0 .8em 0;
}

.give-gift .big-pic {
  background: white;
  padding: 3px;
  border: 1px solid #BFBFBF;
  background-color: white;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  -webkit-transform: rotate(2.2418939187191427deg);
}
.give-gift .gift-band {
  margin: 0 -30px 0 -20px;
  padding: 10px 30px 0 20px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  background: #ffe;
}
.give-gift .gift-band h2 {
  color: rgb(223, 99, 4);
}

.give-gift .excerpt {
  display: block;
  margin-bottom: 20px;
}
.give-gift .gift-grid {
  width: 105px;
  margin: 10px 0 0 10px;
  border: 2.5px solid white;
}
.give-gift .actions {
  width: 350px;
  margin-bottom: 15px;
  float: left;
}
.give-gift .give-any {
  clear: left;
  display: block;
  color: #484;
  font-size: 14pt;
}
.give-any .dollar {
  margin-left: 15px;
  position: relative;
}

.give-gift .any-amount {
  color: #484;
  font-weight: bold;
  padding: 4px;
  font-size: 16pt;
  border: 1px solid #484;
  padding-left: 20px;
  margin-left: -20px;
  background: white;
  width: 80px;
}
.give-gift .promo {
  clear: left;
  margin: 20px 0 0;
  color: #444;
  line-height: 1.3;

  line-height: 1.3;
  font-family: freight-sans-pro-1, freight-sans-pro-2, 'Gill Sans / Gill Sans MT', 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 19px;
}
.give-gift .price {
  color: #538312;
  font-size: 30px;
  font-weight: bold;
  margin-right: 20px;
}
.give-gift form label {
  float: left;
  margin-left: 15px;
}
.give-gift form .green-button {
  margin-left: 5px;
  padding-left: 0.7em;
  padding-right: 0.7em;
  border: 2.5px solid white;
}


.over-right {
  float: right;
  margin-right: -5px;
}
.fundraiser-content .indented,
.indented {
  padding: 0 30px;
}
.indented .over-right {
  margin-right: -35px;
}




/* New home page slider */
.line { display: block; }
.going { position: absolute; }
.slidedeck .deck-content {
  padding: 20px 40px;
  background: #8FCFE6;
  width: 990px;
  height: 400px;

  font-family: 'futura-pt',arial,sans-serif;
  color: white;
  line-height: 1.3;

  background: rgb(136,206,234); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(136,206,234,1) 0%, rgba(143,207,230,1) 50%, rgba(199,227,237,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(136,206,234,1)), color-stop(50%,rgba(143,207,230,1)), color-stop(100%,rgba(199,227,237,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(136,206,234,1) 0%,rgba(143,207,230,1) 50%,rgba(199,227,237,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, rgba(136,206,234,1) 0%,rgba(143,207,230,1) 50%,rgba(199,227,237,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(136,206,234,1) 0%,rgba(143,207,230,1) 50%,rgba(199,227,237,1) 100%); /* IE10+ */
  background: linear-gradient(135deg, rgba(136,206,234,1) 0%,rgba(143,207,230,1) 50%,rgba(199,227,237,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88ceea', endColorstr='#c7e3ed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.slidedeck h1 { font-size: 40px; font-weight: 700; margin: 20px 0; text-shadow: 2px 2px 5px #2B4E64; }
.slidedeck h2 { font-size: 28px; font-weight: 300; margin: 20px 0;
  font-family: "freight-sans-pro", arial, sans-serif;
}
.slidedeck h3 { font-size: 22px; font-weight: 300; margin: 30px 0 0; color: #2B4E64; width: 520px;  }

.slidedeck img.photo {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 1px;
  box-shadow: 0 0 10px #666;
}
.slidedeck .right-deck h1,
.slidedeck .right-deck h2,
.slidedeck .right-deck h3 {
  margin-left: 400px;
}
.slidedeck .right-deck img.photo {
}
.slidedeck .left-deck h1,
.slidedeck .left-deck h2,
.slidedeck .left-deck h3 {
  margin-left: 50px;
}

.slidedeck .mid-deck h1 {
  margin-top: 90px;
}
.slidedeck .deck2 h1 {
  margin-top: 15px;
}
.slidedeck .deck2 h1,
.slidedeck .deck2 h2,
.slidedeck .deck2 h3 {
  margin-left: 420px;
}


.slidedeck .deck4 h1 {
  margin-top: 20px;
}
.slidedeck .deck4 h1,
.slidedeck .deck4 h2,
.slidedeck .deck4 h3 {
  margin-left: 60px;
}

.slidedeck .images img.photo {
  padding: 5px;
}
.slidedeck img.photo1 {
  width: 250px;
  height: 300px;
  right: 70px;
  top: 120px;
  padding: 5px;
  -webkit-transform: rotate(-3deg);
}
.slidedeck img.photo2 {
  width: 315px;
  left: 80px;
  top: 20px;
  -webkit-transform: rotate(-2deg);
}
.slidedeck img.photo3 {
  width: 347px;
  left: 350px;
  top: 250px;
  -webkit-transform: rotate(2deg);
}
.slidedeck img.photo4 {
  width: 434px;
  left: 570px;
  top: 26px;
}
.slidedeck img.photo5 {
  width: 350px;
  left: 604px;
  top: 18px;
  padding: 5px;
}
.slidedeck img.photo6 {
  left: -30px;
  -webkit-transform: rotate(2deg);
  top: 60px;
}
.slidedeck img.photo7 {
  top: 30px;
  left: 180px;
  -webkit-transform: rotate(-3deg);
}

.slidedeck img.quote-big {
  display: none;
  top: 75px;
  left: 552px;
  padding: 5px;
}

/* New contact forms */

div.wpcf7 {
  padding: 20px 20px 20px;
  background: rgb(247, 247, 225);
  margin: 4px 1px 1px;
  border: 1px solid #eee;

  background: rgb(247,237,177); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(247,237,177,1) 0%, rgba(247,247,225,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(247,237,177,1)), color-stop(100%,rgba(247,247,225,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(247,237,177,1) 0%,rgba(247,247,225,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, rgba(247,237,177,1) 0%,rgba(247,247,225,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(247,237,177,1) 0%,rgba(247,247,225,1) 100%); /* IE10+ */
  background: linear-gradient(135deg, rgba(247,237,177,1) 0%,rgba(247,247,225,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7edb1', endColorstr='#f7f7e1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  font-family: "rooney-sans",sans-serif;

}
.wpcf7 h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #2B4E64;
  margin: 0 0 10px 0;
}

.wpcf7 label {
  width: 245px;
  float: left;
  display: block;
  color: #2B4E64;
  font-size: 14px;
}
.wpcf7 br { display: none; }
.wpcf7 .wpcf7-form-control-wrap {
  display: block;
}
.wpcf7 .wpcf7-form-control-wrap input {
  width: 220px;
  padding: 5px;
  font-size: 18px;
  display: block;
  margin-top: 5px;
  color: black;
}
.wpcf7 .button { margin-top: 20px; }
div.wpcf7-response-output {
  margin: -20px -10px -10px;
  padding: 20px 10px 10px;
  color: #2B4E64;
  clear: both;
  font-size: 20px;
  border: 0px none !important;
}
div.wpcf7-response-output .more-info {
  margin-top: 10px;
  font-size: 85%;
}
span.wpcf7-not-valid-tip {
  position: relative;
  top: 0; left: 0;
  z-index: 100;
  background: transparent;
  border: 0px none;
  font-size: 12px;
  width: 220px;
  padding: 0;
  margin-top: 3px;
  color: red;
}
div.wpcf7 img.ajax-loader {
  position: absolute;
  margin-top: 22px;
}
input.wpcf7-not-valid {
  border: 1px solid red;
}
div.wpcf7-mail-sent-ok {
}
div.wpcf7-validation-errors {
}


