RewriteEngine On

# a request for all.css is really all-styles.php
RewriteRule ^(.*)all\.css$ $1all-styles.php [L]

# a request for debug.css is really all-debug.php
RewriteRule ^(.*)debug\.css$ $1all-debug.php [L]
RewriteRule ^(.*)debug\.js$ $1all-debug.php [L]

# a request for all.js is really scripts.php
RewriteRule ^(.*)all\.js$ $1all-scripts.php [L]
