.quote {
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 1.2em;
}
.quote .mark {
  margin-right: 10px;
  width: 25px;
}
.quote .author {
  display: block;
  text-align: right;
  margin-top: 10px;
  font-size: 14px;
}





.story {
  padding: 5px;
  position: relative;
  float: left;
  width: 140px;
  height: 168px;
  overflow: hidden;
  color: #07c;

  background: transparent url(images/story-shadow.gif) no-repeat -3px -3px;
}
.story .box {
  height: 163px;
  background: white;

  box-shadow:0 0 1px #777;
  -moz-box-shadow:0 0 1px #777;
  -webkit-box-shadow:0 0 1px #777;
}
.story .box .pic {
  border: 2px solid white;
}
.story .title {
  padding: 3px 5px;
  font-size: 13px;
  font-weight: bold;
  color: #07c;

  height: 48px;
  overflow: hidden;
}
.large-story {
  padding: 3px;
  width: 225px;
  height: 200px;
  margin: 0;
}
.largest-story {
  padding: 5px;
  width: 300px;
  height: 310px;
  margin: 0;
}
.large-story .title {
  height: 30px;
}
.widget6 .large-story { margin: 0; margin-bottom:10px; }
.large-story .box {
  height: 202px;
}
.largest-story .box {
  height: 302px !important;
}


