body { padding-bottom: 100px; }
.page {
  background: white; padding: 0 0 20px 0;
  position: relative;
  top: -10px;
}
.page-content {
  width: 985px;
  margin: 0 auto;
 }

.left { float: left; }
.right { float: right; }
.center { margin: 0px auto; }
.overflowed { overflow: visible !important; }

.top-bar {
  position: absolute;
  display: none;
}
.top-bar .login-bar {
  height: 12px;
}

.appeal {
  position: relative;
  background: white; 
  color: black;
  height: 220px;
  overflow: hidden;
}
.appeal .pic {
  margin-top: 10px;
  margin-left: 8px;
  border-radius: 20px;
}
.appeal .msg {
  float: right;
  width: 650px;
  margin: 20px 20px 0 0;
  padding: 0 10px;
}
.appeal h1 {
  font-size: 20pt;
}
.appeal p {
  margin: 0 0 12px 0;
}




#header .tab-bar {
  height: 60px;
  position: relative;
}

#header .menu-tab { height: 60px; }
#header .give-tab { display: none; }
#header #logo { margin: -20px 0 0 10px; }
#header .floatr {
  position: absolute;
  right: 20px;
}

#header .floatr img { margin-top: -12px; }










.more-options {
  position: absolute;
  bottom: 10px; left: 20px;
  width: 242px;
  display: none;
}
.more-options a {
  display: block;
  width: 200px;
  background: #8AB;
  color: white;
  padding: 1px 10px 1px 10px;
  margin-bottom: 8px;
  text-align: right;
  position: relative;
  height: 20px;
  border-radius: 10px;
  border: 3px solid #8AB;
}
.more-options a:hover {
  background: #689;
  text-decoration: none;
  border: 3px solid #BCD;
}
.more-options a .rarr {
  position: absolute;
  left: 216px;
  bottom: -3px;
  border: 14px solid #8AB;
  border-color: transparent transparent transparent #8AB;
  border-width: 14px 18px;
}
.more-options a:hover .rarr {
  border-color: transparent transparent transparent #689;
}
.more-options h3 {
  color: #2B4E64;
  padding: 10px 0 15px;
}

.more-options .box {
  margin-top: 15px;
  background: white;
  xborder: 1px solid #DEF;
  padding: 5px 10px 10px;
  xbox-shadow: #CCC 0 0 4px;
}

.video { position: relative; }
.video .play {
  width: 124px;
  height: 112px;
  background: transparent url(play-button.png) no-repeat 50% 50%;
  position: absolute;
  top: 0; left: 0;
}



.give .browse-more {
  text-align: center;
  padding: 3px 0 5px;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.5)), to(rgba(255,255,255,1)));
  font-size: 10pt;
  color: #456;
  cursor: pointer;
  width: 100%;
  z-index: 1000;
}
.browse-more:hover {
  color: black;
}
.give .browse-more .butt {
  border: 3px solid white;
  border-radius: 10px;
  background: #8AB;
  color: white;
  position: relative;
  border: 3px solid #8AB;
  width: 120px;
}
.give .gallery-left .browse-more {
  position: absolute;
  bottom: 256px;
  width: 240px;
}

.gift-v2 .desc .button {
  font-size: 11pt;
  left: 45px;
  top: -3px;
  position: relative;
  width: 80px;
}
