RewriteEngine on
RewriteBase /wp-content/images

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} .*wp-content/images/.*\.(gif|jpg|jpeg|png)$ [NC]
RewriteRule .* default.jpg [L]

<IfModule mod_expires.c>
   ExpiresActive on
   ExpiresDefault "access plus 1 week"
</IfModule>
