<style>
body { background: #eee; margin: 0; padding: 0; }
.page { font: 9pt Arial; width: 900px; border: 1px solid #666; border-top: 0px none; background: white; margin:0;padding: 0 0 100px 0; margin:0 auto; }
form { margin: 0; }
h1 { font-weight: bold; font-size: 11pt; }
.right { float: right; }
.left { float: left; } 
form, div { overflow: hidden; }
a img { border: 0px none; }

.clearer { clear:both; }
.zerosize { width: 0; height: 0; }
:disabled { background: white; }

select.select-go { border: 0px none; text-align: right; }
select.select-go option { text-align: right; }

/* IE6 */
.notch {
  _border-top-color: pink;
  _border-left-color: pink;
  _border-bottom-color: pink;
  _border-right-color: pink;
  _filter: chroma(color=pink);
  height:0;
  width:0;
  position: absolute;
  border-style: solid;
}

.error {
  background: #fbb url(warning.gif) no-repeat 7px 5px;
  color: #400;
  border: 1px solid #f88;
  margin: -1px;
}
.errors {
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
  padding: 4px;
  margin: 0 0 20px 0;

  border-radius: 7px;
  -moz-border-radius: 7px;
}
.story-status {
  font-size: 11pt;
  font-weight: bold;
  padding: 5px 20px; 
  margin: 0px 0px 10px; 
  text-align: center;

  background: #cdf url(info.gif) no-repeat 7px 6px;
  color: #004;

  border-radius: 7px;
  -moz-border-radius: 7px;
}

.optional { color: #aaa; }
.text-field { position: relative; margin-bottom: 10px; }
.text-field .text-input, .text-field textarea {
  font-size: 14pt;
  font-weight: bold;
  padding: 2px;
  width: 100%;
  border: 1px solid #f0f0f0 !important;
  border-top: 1px solid #888 !important;
}
.r_Body {
  xpadding: 2px;
  border: 1px solid #f0f0f0 !important;
  border-top: 1px solid #888 !important;
}
.r_Body textarea {
  border: 0px none !important;
}
.text-field textarea {
  font: 10pt Arial;
  margin-top: 2px;
}
.text-field label { 
  display: block;
  height: 11pt;
  padding-left: 3px;
  font-size: 9pt;
  color: #444;
}
.cant-edit .text-field input, .cant-edit textarea { 
  border-left: 1px solid white !important;
  border-bottom: 1px solid white !important;
  border-right: 1px solid white !important;
  color: black !important;
}

.audio-notes {
  display: block;
  margin-top: -18px;
  margin-bottom: 10px;
}

/* RICH TEXT */
.mceLayout .mceStatusbar { height: 0 !important; display:none !important; }
.mceFirst, .mceLast { background: #eee; }
.mceButton, .mceOpen, .mceText, .mceAction {
  border: 0px none !important;
  background-color: white !important;
  cursor: hand; cursor: pointer;
}
.mceButton {
  margin: 1px 1px 0 !important; 
  border: 1px solid #ddd !important;
}
.mceMenu {
  background: white !important;
}
.mceMenuItemTitle { background: #eee; }
.mceButton, .mceText, #r_Body_formatselect_open {
  background: white !important;
}
.mceButton:hover {
  background-color: #EEF7FF !important;
}
.mceButtonActive { background: #DEF !important; }
.mceSplitButtonMenu {
  background: white !important;
}
#quicktags { background: #eee; }
.ed_button { 
  display: block;
  float: left;
  padding: 4px 4px;
  margin: 5px 0 5px 2px;
  background: white;
  border: 1px solid #f7f7f7;
}
.mceToolbar {
  padding: 2px !important;
  margin: 0px !important;
}
#editor-toolbar {
  position: absolute;
  right: 0;
  margin: 10px 10px 0 0;
}
#editor-toolbar a {
  padding: 2px;
  margin-left: 5px;
  cursor: hand; cursor: pointer;
  display: block;
}
#editor-toolbar a.active {
  display: none;
}

.check-field { margin-bottom: 5px; }
.check-field .checkbox {
  float: left;
  width: 18px;
  margin: 3px 0 0 3px;
  _margin: 0 0 0 6px;
}
.check-field .label {
  display: block;
  font-size: 12pt;
  margin: 0 0 0 24px;
  cursor: hand; cursor: pointer;
}
.check-field .strike {
  text-decoration: line-through;
  color: #ccc;
}
.check-sent {
  background: url(/wp-content/images/16_RightArrow.gif) no-repeat 4px 2px;
}
.check-error {
  color: red;
  background: #fdd;
}
.check-error .mistake {
  padding: 3px;
  margin-left: 10px;
  font-size: 9pt;
  color: red;
}
.need-donors {
  padding: 4px 8px;
  background: #eee;
}

.thumbs, .thumbs a, .thumbs a:hover { text-decoration: none; }
.thumbs img { border: 0; width: 100px; height: 100px; }
.thumbs .arrow { width: 28px; border: 0px none; _display: none; }
.thumbs .recipient { width: 100px; height: 100px; text-align: center; position: relative; overflow: hidden; }
.thumbs .empty { background: url(/wp-content/images/defuser.jpg) no-repeat 0 0; }
.thumbs .none-found {
  padding: 35px 10px;
  float: left;
  font-size: 12pt;
  color: #666;
}

.recipient .status { font-size: 8pt; font-weight: bold; position: absolute; top: -1px; right: -1px; background: #080; color: white; padding: 1px 5px; display: block; border: 1px solid white; }
.post-pending .status { background: #C60; }
.post-draft .status { background: #DEF; color: black; }
.recipient .name { font-size: 8pt; position: absolute; bottom: 0; left: 0; width: 100%; background: black; color: white; padding: 1px 0; overflow: hidden; text-align:center; display: block; opacity: 0.8; }
.recipient .down-notch {
  border-color: black transparent transparent transparent;
  bottom: -22px;
  left: 39px;
  border-width: 11px;
}

.thumbs .post-draft { border: 2px solid white; }
.thumbs a, .thumbs .arrow, .thumbs .new { float: left; display: block; height: 100px;}
.thumbs .next { background: url(/wp-content/images/right_arrow.png) no-repeat 50% 50%; }
.thumbs .prev { background: url(/wp-content/images/left_arrow.png) no-repeat 50% 50%; }
.thumbs .not-selected { border: 2px solid white; }
.thumbs .selected { border: 2px solid #004; }
.not-selected:hover { border: 2px solid #888; -webkit-transition: border 0.3s linear;  }
.not-selected:hover .status { -webkit-opacity: 0.2; -webkit-transition: opacity 0.5s linear; }
.not-selected:hover .name { -webkit-opacity: 0.4; -webkit-transition: opacity 0.5s linear; }
.selected .status { border-color: black; }
.not-selected img { opacity: 0.6; -webkit-transition: opacity 1s linear; }
.not-selected:hover img { opacity: 1; -webkit-transition: opacity 0.5s linear; }
.not-selected .down-notch { display: none; }
.thumbs { background: url(/wp-content/images/top-shadow-footer.png) repeat-x 0 100%; padding: 5px 5px 20px;}

.new-button { margin-top: 75px; }
.divider { clear: both; display:none; border-top: 1px dashed #ccc; margin-bottom: 15px; }
.actions { padding-bottom: 14px; clear:both; height: 40px; }
.actions .action { padding: 4px; font-size: 10pt; color: #008; }
.delete-link { color: #A22; text-decoration: none; }
.delete-link:hover { color: #C00; text-decoration: underline; }
.actions .small-button { margin-top: 7px; }
.actions #cancel-link { display: none; }


.picture-panel { margin: 0 25px 10px 0; position: relative; }
.panel-1 { width: 325px; margin: 0 20px 0 0; _width: 305px; }
.panel-2 { width: 590px; margin: 0 20px 0 0; }
.panel-3 { width: 240px; margin-right: 25px; overflow: visible; }
.panel-last { margin-right: 0px; }
.picture-panel .photo-holder { margin-bottom: 15px; }
.picture-panel input { width: auto; }

.picture { position: relative; display: block; text-align: center; margin-top: 5px; overflow: hidden; }

.picture-panel .draggable .thumb-photo {
  border: 2px solid #484;
}
.picture-panel .drag-msg {
  display: none;
  text-align: center;
  font-size: 10px;
  padding: 2px;
  width: 100%;
  color: #484;
}
.picture-panel .draggable .drag-msg {
  display: block;
}

.photo-holder { position: relative; width: 252px; }
.photo-holder .loading { position: absolute; 
  width: 252px; height: 100px;
  top: 0; left: 0;
  border-radius: 10px; -moz-border-radius: 10px;
  background: url(loading.gif) no-repeat 50% 50%; z-index: 50; display: none; }
.photo-holder .buttons { position: absolute; left: 0; bottom: 20px; width: 250px; text-align: center; }
.photo-holder .buttons form input { cursor:pointer; z-index:2; }
.photo-holder .button {
  overflow: hidden;
  z-index: 2;
  cursor:pointer;
}
.photo-holder .button .progress {
  width: 0;
  position: absolute;
  top: 0; bottom: 0; left: 0;
  background: #AFA;
  webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;

}
.photo-holder .button label {
  position: relative;
  z-index: 0;
}

.thumb-photo { text-align: center; }
.no-photo .thumb-photo { 
  border: 2px dashed #ddd; text-align: center; font-size: 2.0em; color: #ccc; background: #f7f7f7;
  padding: 60px 30px 80px 30px; }
input:active { outline: none; }
.yes-photo .thumb-photo { padding: 1px; border: 1px solid #ccc; background: #f8f8f8; }
.no-donors { color: #c0c0c0; }
.instructions { font-size: 8pt; font-style: italic; color: black; }
.upload { font-size: 9pt; margin-bottom: 10px; height: 20px; }

.none-available { padding: 10px 20px; font-size: 11pt; color: #666; }
.notifications,.revisions { margin-top: 20px; }
.revisions a { text-decoration: underline; }

#r_Body { height: 500px; }
#r_Notes { height: 102px; font-size: 10pt; }
.r_Dear { margin-left: -22px; overflow: visible; }
#r_Gifts { margin-bottom: 10px; }
.r_Gifts .other-gift {
  display: block;
  font-size: 10pt;
  margin: 2px 0 0 0;
}
.r_Gifts .hidden { display: none; }
.quantity .more { font-size: 80%; }
.r_Gifts .quantity { color: #666; }
.r_Gifts .quantity b { color: black; }
.another-gift {
  display: block;
  padding: 3px 15px;
  text-decoration: underline;
  cursor: hand; cursor: pointer;
  color: #008;
}

.donor-list { width: 252px; }
.donor-list .date { font-size: 8pt; color: #888; padding-left: 8px; white-space: nowrap; }
.donor-list .date .late { padding-left: 5px; font-weight: bold; color: #a00; }

.x-full-info { display: none; }
.short-info { font-size: 12pt; }
.short-info .recipient-name { font-weight: bold; }

#wp-fullscreen-body{display:none;}
</style>

