.appeal-image img {
  border: 0px none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

body {
  background: #C9E3ED;
}

#header, #container {
  border-left: 1px solid #22404A;
  border-right: 1px solid #22404A;
  box-shadow: 0 0 9px #888;
  -moz-box-shadow: 0 0 9px #888;
  -webkit-box-shadow: 0 0 9px #888;
}
#container {
  border-bottom: 1px solid #22404A;
}
footer, footer a {
  color: black;
}
