.promo-skyway-gifts {
  float: left;
  width: 212px; 
  padding: 20px 20px 0 30px;
}
.promo-skyway-gifts h2 {
  margin-top: 0;
  margin-left: 0;
}
.promo-skyway-gifts p {
  line-height: 1.4; font-size: 16px; color:#44
}
h2.section-header {
  margin-left:0;
}

#gift-browser {
  margin-left: 268px;
  background: white;
}


