#appeal-image { display: none; }
#appeal {
  background: url(/themes/ubs/ubs-logo.jpg) no-repeat 10px 25px;
  border-bottom: 2px solid #8AB;
  padding: 20px 0 20px 405px;
}
#appeal h1 {
  color: #004;
  font-size: 28pt;
  margin-bottom: 0.5em;
}
.appeal .msg { 
  width: 550px;
  font-size: 13pt;
}

.next-gifts, .prev-gifts {
  background: #2B4E64 !important;
  border: 1px solid #2B4E64 !important;
}
.pages .page-num { border: 1px solid #2B4E64 !important; }
.pages .selected { background: #2B4E64 !important; }

.gift .price .button,
#give-any-amount .button {
  background: #CE000E !important;
  border: 1px solid #CE000E !important;
}

.best-wishes {
font-size: 26pt;
position: absolute;
left: 60px;
top: 167px;
color: #000;
}

#gifts .page-title { display: none; }

body.postid-7195 #appeal {
  background: white;
  padding: 20px 40px 70px;
}
body.postid-7195 .appeal .msg {
  width: 700px;
}
body.postid-7195 .best-wishes {
  left: 45px;
  top: 200px;
  bottom: auto;
}
