body.theme-5for5 #appeal {
  overflow: visible;
}
body.theme-5for5 .wp-caption {
  margin-right: -30px !important;
}

body.theme-5for5 .gift-details .progress-bar,
body.theme-5for5 .gift-details .or-finish-it {
  display: none;
}

body.theme-5for5 #give .more-options .box {
  padding: 10px;
}

body.theme-5for5 #give .more-options h3 {
  padding-top: 0;
}

body.theme-5for5 #give .more-options .box h3,
body.theme-5for5 #give .more-options .box p,
body.theme-5for5 .appeal-msg h1 {
  display: none;
}

body.theme-5for5 .appeal-msg {
  float: right;
  width: 660px;
}
body.theme-5for5 .meter2 .meter {
  width: 280px;
}

body.theme-5for5 .appeal-msg .title-logo {
  position: absolute;
  z-index: 50;
  display: block;
  width: 250px;
  text-align: center;
  font-size: 42px;
  left: 29px; top: 23px;
  background: white;
  color: #ED6B13;
  padding: 3px 0;
}
body.theme-5for5 .appeal-msg h2 {
  font-size: 28px;
  display: block;
  margin: 0; padding: 0 0 12px 0;
  color: #2B4E64;
  padding-top: 8px;
}

body.theme-5for5 .remember {
  position: absolute;
  right: 10px;
  bottom: 20px;
  text-align: right;
}
body.theme-5for5 .remember img {
  display: block;
}
body.theme-5for5 .remember a {
  margin-top: 5px;
  margin-right: 15px;
}
body.theme-5for5 .how-5,
body.theme-5for5 .how-5 td {
   border: 0px none; 
}
body.theme-5for5 .how-5 td {
  color: #ED6B13;
  font-size: 1.1em;
}
body.theme-5for5 .how-5 img {
  margin-right: 12px;
}

body.theme-5for5 .gift-list .page-title {
  display: none;
}
body.theme-5for5 .position-0 .gift,
body.theme-5for5 .position-1 .gift,
body.theme-5for5 .position-2 .gift {
  top: 20px;
}


