
body.theme-clubcorp .appeal {
  background: #32602F url(http://seeyourimpact.org/design/campaign/affeldt.jpg) no-repeat 0 0;
  line-height: 1.3em;
  color: #EEF;
  font-size: 13pt;
}
body.theme-clubcorp .appeal-msg {
  width: 680px;
  float: right;
  color: #eef;
}
body.theme-clubcorp .appeal h1 {
  color: white;
  margin: 10px 0 20px 0;
}
body.theme-clubcorp .appeal-image {
  display: none;
}

.appeal #appeal1 {
  display: block;
  background: url(http://seeyourimpact.org/files/2011/03/sign2.png) no-repeat 0 0;
  width: 129px;
  height: 65px;
  left: 500px;
  bottom: -5px;
  position: absolute;
}

.crumbs-clubcorp .tab-campaign {
  background: #284821;
  color: white;
}

