.template-about .video { margin-left: 0; }

/* Cart page updates when style is applied */
#cart-page h1 { margin-top: 20px; }
#cart-page .page-main { padding-bottom: 250px; }
#cart-page .cart-gift { display: none; }
#cart-page #page-sidebar .promo-widget { width: 230px; }

.campaign-page p a {
  text-decoration: underline;
  color: #07c;
}
