#stats-bar { 
  position: relative;
  border: 0px none;
}
.stats2 {
  padding: 5px 20px 3px 290px !important;
  background: #295196 !important;
  color: white !important;
}

#giveany {
  position: absolute;
  top: -16px;
  left: 10px;
  width: 260px;
  padding: 6px;
  background: #fb4;
  box-shadow: 0 0 10px #666;
  z-index: 2;
}
.ie7 #giveany {
  width: 280px;
}
#giveany .box {
  padding: 10px;
  border: 1px solid #FC8;
  background: transparent;
}
.ie7 #giveany .box {
  padding: 10px 0;
}
#giveany label {
  font-size: 110%;
}
#damt {
  font-size: 18pt;
  width: 70px !important;
}

.impact-about {
  margin: 45px 45px 30px;
}
.impact-about .video {
  margin: 10px 0;
  border: 1px solid #888;
}
.impact-about .about-right {
  width: 250px;
  margin-left: 20px;
  margin-top: -40px;
}
.impact-about .about-right p {
  margin-top: 10px;
  font-size: 80%;
}
.impact-about .about-text p {
  width: 580px;
  line-height: 1.4;
}
.impact-about .about-text h2 {
  padding-top: 10px;
}
.sample-stories {
  padding: 0;
}
.impact-about .sample-stories h2 {
  display: none;
}

.campaign-comments h2 {
  font-size: 20pt;
  margin: 0 -20px;
  font-weight: normal;
  font-family: "freight-sans-pro-1","freight-sans-pro-2",sans-serif;
}

.campaign-title {
  color: #F47C20;
  font-size: 18pt;
  line-height: 1.2;
  margin-top: 1em;
}
