body.theme-jennihogan .appeal {
  background: white url(http://seeyourimpact.org/themes/jennihogan/jenni.jpg) no-repeat -43px 10px;
  line-height: 1.3em;
}
body.theme-jennihogan .appeal-msg {
  float: right;
  width: 620px;
  margin-right: 20px;
  font-size: 13pt;
}
body.theme-jennihogan .share-campaign {
  top: auto; bottom: 5px;
  left: 20px;
  z-index:2;
}
body.theme-jennihogan .appeal-msg a {
  font-weight: bold;
  color: #444;
  text-decoration: underline;
}
body.theme-jennihogan h1 {
  margin: 10px 0 20px 0;
  line-height: 1.2em;
  font-size: 24pt;
  color: #542E64;
}
body.theme-jennihogan .appeal img.alignleft {
  margin-left: 50px;
}
body.theme-jennihogan #appeal1 {
  height: 250px;
  width: 20px;
  display: block;
}
body.theme-jennihogan #appeal2 {
  height: 100px;
  width: 50px;
  display: block;
}
body.theme-jennihogan #appeal3 {
  height: 140px;
  width: 90px;
  display: block;
  float:left;
}
body.theme-jennihogan .appeal-image {
  display: none;
}
