body.theme-kennyg {
  background: #282422;
  background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0, #282422), color-stop(1, #181A20) );

}
body.theme-kennyg .appeal-image {
  display: none;
}
body.theme-kennyg .appeal {
  background: black url(http://kennyg.s3.amazonaws.com/media/03/07/large.r6710t368q2n.jpg) no-repeat -115px -5px;
}
body.theme-kennyg .appeal-msg {
  width: 890px;
  color: #f0f7ff;
  padding-bottom: 20px;
  float: right;
}
body.theme-kennyg .appeal-msg p a {
  color: #f0f7ff;
  text-decoration: underline;
}

body.theme-kennyg #appeal1 { width: 220px; height: 100px; display: block; }
body.theme-kennyg #appeal2 { width: 330px; height: 180px; display: block;  }
body.theme-kennyg #appeal3 {
  background: url(http://seeyourimpact.org/design/campaign/signature.jpg) no-repeat 0 0;
  width: 90px;
  height: 51px;
  position: absolute;
  left: 480px;
  bottom: 20px;
  display: block;
}
body.theme-kennyg .appeal .msg p {
  padding-left: 250px;
}
body.theme-kennyg .appeal h1 {
  color: #FEC;
}
body.theme-kennyg .meter {
  width: 300px;
}
body.theme-kennyg .stats {
  position: absolute;
  left: auto; right: 0;
  top: auto; bottom: 15px;
  width: 250px; height: 30px;
  padding-left: 0;
  z-index: 2;
  background: #92D4EC;

  border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;

  text-shadow: 0 0 3px white;
}
body.theme-kennyg .stats .meter2,
body.theme-kennyg .stats .goal {
  display: none;
}
body.theme-kennyg .share-campaign {
  position: absolute;
  top: auto; bottom: 60px;
  left: auto; right: 0;
}



