body.campaign #video {
  float: right;
  border: 1px solid #ACE;
  margin: 20px 20px 0 30px;
}
body.campaign .hfc-pic {
  position: absolute;
  top: 20px; right: 20px;
  width: 256px; height: 200px;
  box-shadow: 3px 3px 5px #888;
  border: 1px solid #888;
}

body.campaign .appeal h1 {
  font-size: 18pt;
}

body.campaign .leaderboard {
  position: absolute;
  right: 20px; top: 241px;
  width: 256px;
  margin-top: 5px;
  padding-top: 0;
}
body.campaign .leaderboard .progress {
  background: #024;
}

body.campaign .appeal-image {
  position: absolute;
  left: 10px;
  width: 230px;
}
body.campaign .appeal-image img {
  width: 200px;
  height: 200px;
}

body.campaign .appeal-msg { 
  float: left;
  width: 630px;
  padding: 20px 20px 20px 30px;
}
body.campaign #appeal1 {
  display: block;
  width: 215px;
  height: 200px;
}

body.campaign .promo-pnwu {
  font-size: 85%;
  display: block;
  clear: both;
  padding-top: 5px;
}

body.campaign #give .more-options .box {
  padding: 10px;
}
body.campaign #give .more-options .box h3,
body.campaign #give .more-options .box p {
  display: none;
}

