/* EDITOR */

#start-banner {
  height: 230px;
  padding: 10px;
  margin: 20px 20px 0;
  border: 1px solid #666;
  position: relative;
}
#start-banner iframe {
  border: 1px solid black;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 10px black;
}
#start-banner #words {
  padding-top: 50px;
  padding-left: 290px;
}
#words h1, #words h2 {
  padding: 0;
  color: black;
}
#words h2 {
  font-size: 24pt;
}
#words h1 {
  font-size: 28pt;
  font-weight: bold;
}
#words p {
  padding: 30px 0px;
  font-size: 110%;
}
