.cf:before, .cf:after { display: table; content: " "; }
.cf:after { clear: both; }
.left { float: left; }
.right { float: right; }
a img { border: 0px none; }

html { background: transparent; }
body { -webkit-font-smoothing: antialiased; margin: 0; padding: 0; background: #141c22 url(../images/main-bg.png) no-repeat center top; background-size: 100%; color: #383834; font-family: "myriad-pro", sans-serif;  }
.page-center, #outer, header .login-bar { margin: 0 auto; width: 995px; background: transparent; height: auto; }

header .login-bar { position: relative; padding: 12px 90px 12px 0; color: #fff; font-size: 14px;}
header .login-bar a { color: #fff;  }
header .banner { position: relative; width: 996px; height: 332px;  }
header .banner .banner-text { position: absolute; right: 59px; bottom: 51px; padding: 58px 0 0 0; width: 500px; height: 93px; background: url(../images/zaarlyimpact.png) no-repeat center top; color: #fff; font-size: 50px; line-height: 58px;  }

.main-contents { width: 100%; position: relative; background: #fafafa; }
.main-col { min-height: 100%;  width: 740px; border-right: 1px solid #e4e4e4; background: url(../images/pattern1.png); background: #fff; }
.main-col section { border-bottom: 1px solid #e4e4e4; }
.main-col section.top { padding: 24px 0 22px 49px;  }
.main-col section.top p { margin: 0; font-size: 22px; line-height: 22px; }
.main-col section.top strong { font-weight: 600; }


.main-col .top .progress-bar { position: relative; margin: 8px 0 0 0; width: 618px; height: 41px; background: url(../images/progress-bar.png) no-repeat; font-size: 14px;  }
.main-col .top .progress-bar-percentage { position: absolute; top: 1px; left: 1px; z-index: 0; max-width: 614px; height: 38px; border-right: 1px solid #699ba6; border-radius: 5px; background: rgb(152,202,213);
background: -moz-linear-gradient(top, rgba(202,228,233,1) 2%, rgba(174,213,222,1) 4%, rgba(152,202,213,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(202,228,233,1)), color-stop(4%,rgba(174,213,222,1)), color-stop(100%,rgba(152,202,213,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(202,228,233,1) 2%,rgba(174,213,222,1) 4%,rgba(152,202,213,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(202,228,233,1) 2%,rgba(174,213,222,1) 4%,rgba(152,202,213,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(202,228,233,1) 2%,rgba(174,213,222,1) 4%,rgba(152,202,213,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(202,228,233,1) 2%,rgba(174,213,222,1) 4%,rgba(152,202,213,1) 100%);  /* IE6-8 */ box-shadow: inset;  }
.main-col .top .progress-bar .value { position: absolute; top: 11px; left: 8px; z-index: 100; color: #fff; font-weight: 600; font-size: 14px; }
.main-col .top .percentage { margin: 16px 0 0 13px; font-weight: 600; font-size: 21px; }

.main-col .mid { position: relative; }
.main-col .mid .photo-col { width: 226px; }
.main-col .mid .photo-col img { margin: 43px 0 0 43px;}
.main-col .mid .brief { width: 500px; }
.main-col .mid .brief img { margin: 50px 0 5px 0; font-weight: normal; font-size: 26px; line-height: 36px; }
.main-col .mid .brief p { margin: 0 0 15px 0; max-width: 430px; font-size: 16px; line-height: 24px;  }
.main-col .mid:before { position: absolute; bottom: -8px; left: 50%; margin-left: -7px; width: 14px; height: 8px; background: url(../images/arrow.jpg) ; content: ""; }

.person {
  color: #383834;
}

.main-col .admin-actions {
  position: absolute;
  left: 78px;
  bottom: 30px;
  color: #ccc;
}

.main-col .bottom { padding: 15px 0;  }
.main-col .person { display: block; float: left; overflow: hidden; margin: 0 0px 40px 15px; padding: 23px 0 19px 0; width: 350px; height: 198px; cursor: pointer; }
.main-col .person .avatar-col { width: 150px;  }
.main-col .person .avatar { margin: 0 0 0 28px; width: 107px; height: 107px; }
.main-col .person .details-col { width: 193px;  }
.main-col .person .name { margin: 2px 0 3px 0; color: #000; font-weight: 600; font-size: 20px; line-height: 16px; }
.main-col .person .sub { margin: 0 0 7px 0; text-transform: uppercase; font-weight: bold; font-size: 11px; }
.main-col .person .meta { margin: 0 0 11px 0; max-height: 63px; font-size: 16px; line-height: 22px; }
.main-col .person:hover { background: #f7f7f7; box-shadow: inset 0 0 30px #e1e1e1; }
.main-col .person .link-button {
  padding: 8px 0 3px 0;
  margin: 8px 0 0 0;
  width: 172px;
  height: 22px;
  color: #fff;
  text-align: center;
  font-size: 15px;

  border: 1px solid #7c974a; /* stroke */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /* prevents bg color from leaking outside the border */
  background-color: #99bb59; /* layer fill content */
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,.13), inset 0 1px 0 rgba(255,255,255,.34); /* drop shadow and inner shadow */
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.13), inset 0 1px 0 rgba(255,255,255,.34); /* drop shadow and inner shadow */
  box-shadow: 0 2px 3px rgba(0,0,0,.13), inset 0 1px 0 rgba(255,255,255,.34); /* drop shadow and inner shadow */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5YmI1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FmYzk3YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
  background-image: -moz-linear-gradient(bottom, #99bb59 0%, #afc97b 100%); /* gradient overlay */
  background-image: -o-linear-gradient(bottom, #99bb59 0%, #afc97b 100%); /* gradient overlay */
  background-image: -webkit-linear-gradient(bottom, #99bb59 0%, #afc97b 100%); /* gradient overlay */
  background-image: linear-gradient(bottom, #99bb59 0%, #afc97b 100%); /* gradient overlay */
}

.main-col .person .sample-images { margin: 0 0 2px 0; }
.main-col .person .sample-images img { margin: 0 4px 0 0; border-radius: 4px; /*box-shadow: 2px 2px 4px #adadad;*/ }

aside { min-height: 100%; width: 252px; border-right: 1px solid #e4e4e4; background: #fafafa; 
  position: absolute; right: 0; top: 0; bottom: 0; }
aside .aside-list .element { padding: 20px 11px 10px 17px; border-bottom: 1px solid #e4e4e4; }
aside .aside-list .element:hover { background: #fff; cursor: pointer; }
aside .aside-list .element:first-child { padding-top: 34px; }
aside .aside-list .element-content { padding: 0 0 12px 0; }
aside .aside-list .element h3 { margin: 0 0 8px 0; color: #1c8bc5; font-weight: 500; font-size: 18px; line-height: 18px; }
aside .aside-list .element p { margin: 0 0 8px 0; font-size: 14px; line-height: 20px;   }

.aside-bottom { padding: 22px 15px; overflow-x: hidden; overflow-y: hidden; }
.aside-bottom h3 { margin: 0; font-weight: 600; font-size: 18px; line-height: 18px; }
.aside-bottom-list .element { margin: 13px 0 0 0; }
.aside-bottom-list .icon { margin: 0 5px 0 0; width: 33px; height: 33px; border: 1px solid #acacac; border-radius: 50%; background: #e5e5e5;  }
.aside-bottom-list .element .upper { margin: 3px 0 3px 0; width: 170px; text-transform: uppercase; font-weight: 600; font-size: 10px; }
.aside-bottom-list .element .lower { width: 160px; font-size: 13px; }
.aside-bottom-list .element .lower strong { font-weight: 600; }


.zaarly-avatar {
  border-radius: 100px;
  box-shadow: rgba(0,0,0,0.25) 0 1px 4px,rgba(0,0,0,0.7) 0 0 0 1px inset;
}
.zaarly-product {
  box-shadow: 2px 2px 4px #adadad;
  box-shadow: rgba(0,0,0,0.25) 2px 2px 4px,rgba(0,0,0,0.7) 0 0 1px inset;
}

