<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="content-type" content="text/html;charset=utf-8" />
<title>SeeYourImpact.org - Meet the life you change.</title>
</head>
<body style="background:#c3dce4; color:#656465; width:100%; font-size:13px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td style="background:#c3dce4;" align="center"><div style="padding-bottom:8px;"></div></td></tr>
<tr><td style="background:#c3dce4;" align="center"><a href="http://seeyourimpact.org" style="width:692px; height:158px; text-decoration:none;"><img src="#PATH#header.jpg" alt="SeeYourImpact.org - Meet the life you change" width="692" height="158" border="0" /></a></td></tr>
<tr><td style="background:#c3dce4;">
<table width="668" bgcolor="#f9f9f9" border="0" cellspacing="0" cellpadding="0" align="center">
<tr><td align="center">
<table width="600" border="0" cellspacing="0" cellpadding="0">
<tr><td colspan="2" style="text-align:left; font-family: Georgia, 'Times New Roman', Times, serif;">

Dear #purchaser_name#,<br/>
<br/>
You just have donated #amount# to SeeYourImpact through an automated payment system.<br/>
<br/>
To review the history and change the settings of your monthly donations,
please login to your account at <a href="http://seeyourimpact.org/wp-login.php">seeyourimpact.org/wp-login.php</a>,
then go to your profile page and click "Manage Monthly Donation".<br/>
<br/>
Thanks again for your generousity!<br/>

<br/>
<br/>
Sincerely,<br/>
- the SeeYourImpact team<br/>
<br/>

</td></tr>
</table>
</td></tr>
</table>
</td></tr>
<tr><td style="background:#c3dce4;" align="center"><img src="#PATH#footer.jpg" alt="SeeYourImpact.org" width="692" height="120" border="0" /></td></tr>
<tr><td style="background:#c3dce4;" align="center"><small style="font-family:verdana; font-size:11px; text-align:center;">This is a message from SeeYourImpact.org -  1402 3rd Ave #830, Seattle WA 98101<br/>To unsubscribe, please send an e-mail to <a href="mailto:contact@seeyourimpact.org" style="color:#656465;">contact@seeyourimpact.org</a> with 'UNSUBSCRIBE' in the subject.<br/>Unsubscribe request may take up to 72 hours to process. Thank you.</small><br/><br/></td></tr>
</table>
</body>
</html>
