<html>
    <head>
     <meta http-equiv="content-type" content="text/html;charset=utf-8" />
     <title>SeeYourImpact.org - Choose a Cause - Change a Life</title>
    </head>

    <body bgcolor="#dce3d9">
     <table width="100%" bgcolor="#dce3d9" border="0" cellspacing="0" cellpadding="0" align="center">
	  <tr><td align="center">
          <small style="font-family:verdana,sans-serif;font-size:11px;line-height:16px;color:#656465;text-align:center;">Having trouble viewing this e-mail? <a href="#" style="color:#859d6f;text-decoration:none;">View it in your browser</a><div style="padding-bottom:8px;"></div></small>
	  </td></tr>
      <!-- TITLE BAR -->  
	  <tr>
          <td align="center"><a href="http://seeyourimpact.org"><img src="header5.jpg" alt="Title" width="692" height="158" border="0" /></a></td>
      </tr>
     <tr><td>
     <!-- MAIN CONTENT --> 
     <table width="668" bgcolor="#f9f9f9" border="0" cellspacing="0" cellpadding="0" align="center">
     <!-- DATE -->  
     <!--<tr>
     <td><h1 style="font-family:Georgia,serif;font-size:18px;line-height:28px;color:#502015;text-align:center;font-weight:normal;">Choose a cause. <em>Change a life.</em></h1></td>
      </tr>-->
     <!-- MAIN CONTENT --> 
      <tr>
          <td align="center">
                <p style="font-family:Georgia,serif;font-size:15px;line-height:24px;color:#656465;text-align:left;padding:0 30px; ">
<b>Dear John Donor</b>,
                </p><p style="margin-top:8px;font-family:Georgia,serif;font-size:15px;line-height:24px;color:#656465;text-align:left;padding:0 30px; ">
You recently donated a solar lantern to a beneficiary at the Restoring Force through <a style="color:#656465;" href="http://www.seeyourimpact.org">SeeYourImpact.org</a>. A recipient for your gift has been selected!<br/><br/>
		</p>
           <table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
           <td colspan="2"><div style="border-left:1px solid #D3C0B1; border-top:1px solid #D3C0B1; border-right: 1px solid #A5978C; border-bottom: 1px solid #A5978C;"><div style="border:3px solid #C9B6A7"><div style="border-top:1px solid #A5978C; border-left: 1px solid #A5978C; border-right:1px solid #D3C0B1; border-bottom: 1px solid #D3C0B1;"><img src="ramnabai.jpg" alt="" width="600" height="360" border="0" /></div></div></div></td>
          </tr>
          <tr><td colspan="2"><br /></td></tr>
            <tr>
                <td colspan="2">
                <h2 style="font-family:Georgia,serif;font-size:13px;line-height:22px;color:#656465;text-align:left;text-transform:uppercase;letter-spacing:2px;font-weight:bold;">Ramnabai can finally cook in a lit up kitchen!</h2>


                <p style="font-family:Georgia,serif;font-size:15px;line-height:24px;color:#656465;text-align:left;">
		Darkness gave way to light when a solar lantern entered the home of Ramnabai thanks to Cooler Planet and the efforts of The Restoring Force.  Prior to this donation, Ramnabai had lived her entire life without electricity. Each evening, she hurried home from the fields to prepare dinner before the sun set and darkness enveloped the traditional mud home she shares with her husband and two children.
		</p>
		
                <p style="font-family:Georgia,serif;font-size:15px;line-height:24px;color:#656465;text-align:left;">
		With the light of the lantern she is pictured happily weilding her rolling pin. "I used to accidentally put wrong ingredients into the food because I could not see clearly. Sometimes insects would get into the food in the dark. It was terrible," says Ramnabai. In addition to facilitating cooking, the lantern is easy to carry, helping the family see their way through the village's mud paths and fields. Her husband says villagers were scared to go out in the dark because they could not see their way.
		</p>
		
                <p style="font-family:Georgia,serif;font-size:15px;line-height:24px;color:#656465;text-align:left;">
		Ramnabai watches with pride as her children study by the light of the lantern, nursing the hope that they may not have to support themselves on a monthly income of just 500 rupees (US$ 10), the average in the village of Munj Ka Pura. With a secondary school more than 22 kilometres away, a hospital more than 5 kilometres away, a school teacher who comes only twice a month, and no irrigation for their fields, the solar lantern has now become a beacon of hope for the parents of the next generation.
		</p>

                <a style="display:block; font-family:Georgia,serif;font-size:12px;line-height:24px;color:#959495;text-align:left;" href="http://trf.seeyourimpact.org/2010/03/17/ramnabai/">http://trf.seeyourimpact.org/2010/03/17/ramnabai</a>

		</td>
            </tr>
            <tr><td colspan="2"><br /></td></tr>
            <tr><td colspan="2" align="center"><img src="sep.jpg" width="604" height="23" /><br /><br/></td></tr>
          <tr>
           <td align="left">
<h2 style="font-family:Georgia,serif;font-size:13px;line-height:22px;color:#656465;text-align:left;text-transform:uppercase;letter-spacing:2px;font-weight:normal;">Help us spread the word</h2>
          <p style="font-family:Georgia,serif;font-size:15px;line-height:24px;color:#656465;text-align:left;">Share your unique impact story with your friends so that they can also experience the joy of giving!</p>
          </td>
          <td align="center">
          <img src="share-button.gif" alt="" width="271" height="111" border="0" />
          </td>
          </tr>
          <tr><td><br /></td></tr>
            <tr><td colspan="2" align="center"><img src="sep.jpg" width="604" height="23" /><br /><br/></td></tr>
	    </tr>
      <!-- LOWER CONTENT -->   
            <tr>
           <td valign="top" colspan="2"><h2 style="font-family:Georgia,serif;font-size:13px;line-height:22px;color:#656465;text-align:left;text-transform:uppercase;letter-spacing:2px;font-weight:normal;">Bring light to villages without electricity</h2></td>
              </tr>
                <tr>
           <td width="234"><div style="border-left:1px solid #D3C0B1; border-top:1px solid #D3C0B1; border-right: 1px solid #A5978C; border-bottom: 1px solid #A5978C;"><div style="border:3px solid #C9B6A7"><div style="border-top:1px solid #A5978C; border-left: 1px solid #A5978C; border-right:1px solid #D3C0B1; border-bottom: 1px solid #D3C0B1;"><img src="http://seeyourimpact.org/wp-content/charity-images/charity-trf.jpg" alt="" width="225" height="100" border="0" /></div></div></div></td>
                 <td width="375"><div style="padding-left:25px;">
                  <p style="font-family:Georgia,serif;font-size:15px;line-height:24px;color:#656465;text-align:left;">For only <b>$30</b> - Reduce the reliance on unhealthy, poor quality gas lanterns!  Help TRF work toward their goal of providing 25 clean solar lanterns.</p>
                  <p style="font-family:Georgia,serif;font-size:16px;line-height:24px;color:#656465;text-align:left;"><img style="vertical-align: middle;" src="donate-now-button.gif" width="125" height="34" /> or <a href="http://seeyourimpact.org" style="color:#656465;">see more gift options</a></p>
                 </div></td>
                </tr>
      </table>    
            </td></tr>
      </table>
          </td>
      </tr>
     <!-- FOOTER --> 
     <tr>
          <td align="center"><img src="footer3.jpg" alt="Footer" width="692" height="120" border="0" /></td>
      </tr>
     <tr>
      <td align="center">
     <small style="font-family:verdana,sans-serif;font-size:11px;line-height:16px;color:#656465;text-align:center;">This is a message from SeeYourImpact.org -  1402 3rd Ave #830, Seattle WA 98101<br/><br/>
     To unsubscribe, please send an e-mail to contact@seeyourimpact.org with 'UNSUBSCRIBE' in the subject.<br/>
     The request to unsubscribe may take up to 72 hours to process. Thank you.</small><br />

      </td>
     </tr>
     </table>
    </body>
</html>
